<!DOCTYPE html>
<html>
  <head>
    <title>Fish detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
          $("#noJS").hide();
          $("#enJS").show();
      });
    </script>
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>